<% 
  let displayTitle = ""; 
  for (let item of data) { 
    if (item.main === "true") { 
      displayTitle = item.series;
      break; 
    }
  }
%>

<!Doctype html>
<html>
<head>
  <link rel="stylesheet" href="/style/ff.css">
  <meta charset="utf-8">
  <title><%= displayTitle %>シリーズの一覧</title>
</head>
<body>
  <h2><%= displayTitle %>シリーズの一覧</h2>
  <table>
      <% for( let row of data ) { %>
        <td>シリーズ名:<a href="/ff/<%= row.series %>/<%= row.name %>"><%= row.name %></a></td>
        <td ><a href="/ff/edit/<%= row.name %>">編集</a></td>
        <td class="delete"><a href="/ff/delete/<%= row.series %>/<%= row.name %>/1" onclick="return confirm('本当に削除しますか？');">削除</a></td>
        <td class="delete"><a href="/ff/delete/<%= row.series %>/<%= row.name %>/0" onclick="return confirm('本当に削除しますか？');">削除してホームに戻る</a></td></tr>
      <% } %>
  </table>
  <p><a href="/ff/create">新規追加</a></p><br>
  <p><a href="/ff">ホームに戻る</a></p>
  <p><a href="/">アプリ一覧に戻る</a></p>
</body>
</html>