<% 
  let displayTitle = ""; 
  for (let item of data) {  
      displayTitle = item.arcana;
      break; 
    }
%>

<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= displayTitle %>のペルソナ一覧</title>
</head>
<body>
  <h2><%= displayTitle %>のペルソナ一覧</h2>
  <table>
      <% for( let row of data ) { %>
        <td>ペルソナ名:<a href="/persona/<%= row.arcana %>/<%= row.name %>"><%= row.name %></a></td>
        <td style="padding-left: 30px;"><a href="/persona/edit/<%= row.name %>">編集</a></td>
        <td style="padding-left: 30px; color: red;"><a href="/persona/delete/<%= row.arcana %>/<%= row.name %>/1" onclick="return confirm('本当に削除しますか？');">削除</a></td>
        <td style="padding-left: 30px; color: red;"><a href="/persona/delete/<%= row.arcana %>/<%= row.name %>/0" onclick="return confirm('本当に削除しますか？');">削除してホームに戻る</a></td></tr>
      <% } %>
  </table>
  <p><a href="/persona/create">新規追加</a></p><br>
  <p><a href="/persona">ホームに戻る</a></p>
  <p><a href="/">アプリ一覧に戻る</a></p>
</body>
</html>